
/* colors */
$bg-gradient-color: #5AC8FA;
$placeholder-text-color: #CCCCCC;
$link-color: #5AC8FA;

/* backgrounds */
$bg-gradient: transparent linear-gradient(180deg, $bg-gradient-color 0%, #FFFFFF00 100%) 0% 0% no-repeat padding-box;

/* fonts */
$main-font: 'Poppins';
